* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body {
    text-align: center;
    background-color: #A6C6B9;
}
header, main, footer {
    background-color: white;
    margin: 10px;
    padding: 20px;
}
.header-nav {
    height: 40px;
}
.header-menu {
    float: right;
}
.header-menu::after {
    clear: both;
}
li {
    display: inline;
    margin: 10px 10px;
}
.header-menu > li > a {
    display: inline-block;
    width: 100px;
    padding: 10px 0;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background: #8EBBC6;
    border: none;
    box-shadow: 3px 3px 6px #999999;
}
.header-menu > li > a:hover {
    background: #087f23;
}